@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: 'Righteous', cursive;
  font-size: 28px;
}

h2 {
  font-size: 12px;
  font-family:  'Jakarta', cursive;
}
primaryText {
  font-family:  'Jakarta', cursive;
  
}